.bg-purple
{
    background-color: #7f00b2;
    border-color: #7f00b2;
    color: #fff;
}

.bg-purple:hover
{
    background-color: #ab3ed8;
    border-color: #7f00b2;
    color: #fff;
}

.bg-purple-nav
{
    background-color: #7f00b2;
    border-color: #7f00b2;
    color: #000000 !important;
}

footer
{
    font-size: 0.75rem;
}

.maxSize
{
    max-height: 20%!important;
}